<!doctype html>
<html>
  <head>
    <title>Rambler</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="shortcut icon" href="favicon.png" />
  </head>


  <body>


    <div id="login-page">
      <form id="login-form" action="" onsubmit="return false;">
        <div id="login-header">
          <h2>Rambler</h2>
        </div>
        <p id="login-alert">Invalid login credentials</p>
        <p id="user-header">username</p>
        <p id="user-validation">
          user already exists
        </p>
        <input type="text" id="username" autofocus>
        <p id="pass-header">password</p>
        <input type="password" id="password">
        <button id="signin">Sign In</button>
        <button id="signup">Sign up</button>
      </form>
    </div>

    <div id="curtain"></div>
    <div id="main-app">
      <header id='messaging-topbar'>

        <div id="main-menu">
          <button id="show-convos"></button>

          <h2>Convos</h2>
          <ul id="convo-list">
          </ul>

        </div>


        <button id="logout"></button>
        <p id="loggedin"></p>
      </header>
      <ul id="messages"></ul>
      <form id="message-enter" action="">
        <input id="m" autocomplete="off" /><button>Send</button>
      </form>
    </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script src="client.js"></script>

  </body>
</html>
