@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Bree+Serif';

/*
	primary color: #36849d
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 13px Helvetica, Arial;
	font-family: 'Open Sans', sans-serif;

}

#main-app {
	display: none;
}


#curtain {
	background-color: #e1e1e1;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 20;
}

#login-page {
	padding: 0px;
	padding-top: 0px;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	max-width: 500px;
	min-width: 300px;
	transform: translate(-50%, -50%);
	z-index: 21;
	background-color: white;

  -webkit-box-shadow: 0px 0px 141px 0px rgba(150,150,150,1);
  -moz-box-shadow: 0px 0px 141px 0px rgba(150,150,150,1);
  box-shadow: 0px 0px 141px 0px rgba(150,150,150,1);

}

#login-form {
	width: 100%;
	height: 100%;
	background-color: white;
}


textarea:focus, input:focus {
	outline: none;
}

#login-header {
	position: relative;
	background-color: #36849d;
	width: 100%;
	height: 60px;
	margin-bottom: 20px;
}

#login-form h2 {
	font-family: 'Bree Serif', serif;
	font-weight: normal;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	letter-spacing: -1px;
	color: white;
}

form p {
	color: #b9b9b9;
	margin-left: 20px;
}

#user-header {
	float: left;
}

#user-validation {
	display: none;
	float: right;
	margin-right: 20px;

}

#login-alert {
	display: none;
	color: red;
	padding: 10px 0 10px 0;
}

#login-form input {
	display: block;
	width: 360px;
	height: 30px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 5px;
	font-size: 16px;
	background-color: transparent;


	border: none;
	border-bottom: solid #b9b9b9 2px;

	-webkit-transition: border 0.5s ease;
  -moz-transition: border 0.5s ease;
  -ms-transition: border 0.5s ease;
  -o-transition: border 0.5s ease;
  transition: border 0.5s ease;
}

#login-form input:focus {
	border-bottom: solid gray 2px
}

#login-form button {
	margin: 5px 0px 25px 0px;
	width: 168px;
	margin-left: 20px;
	height: 40px;
	border: solid gray 1px;
	cursor: pointer;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#signin {
	background-color: #C97878;
	color: white;
	border: none;
}

#signin:hover {
	background-color: #B54444;
}

#signup {
	background-color: white;
}

#signup:hover {
	background-color: rgb(177, 177, 177);
}

/*#login-form button:hover {
	background-color: gray;
	color: white;
}*/




#messaging-topbar {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #36849d;
	z-index: 15;
	overflow: none;
}

#logout {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
	background-color: transparent;
	background-image: url('logout.png');
	background-size: contain;
	cursor: pointer;
	border: none;
	color: white;
	height: 30px;
	width: 30px;
}

#main-menu {
	position: absolute;
	top: 0;
	left: -250px;
	width: 250px;
	height: 1000px;
	background-color: rgba(0, 0, 0, 0.5);;
}

#show-convos {
	position: absolute;
	top: 25px;
	right: -42px;
	transform: translate(0, -50%);
	background-color: transparent;
	background-image: url('convos.png');
	background-size: contain;
	cursor: pointer;
	border: none;
	height: 35px;
	width: 35px;
}

#show-convos:focus {
	outline: none;
}


#main-menu h2 {
	margin-top: 11px;
	color: white;
	width: 100%;
	text-align: center;
}

#convo-list {
	position: absolute;
	top: 50px;
	width: 100%;
	color: white;
}

#convo-list li {
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-bottom: white 1px solid;
	cursor: pointer;

	-webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -ms-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;

}

#convo-list li:last-child {
	border-bottom: none;
}

#convo-list li:hover {
	background-color: white;
	color: black;
}



#loggedin {
	position: absolute;
	z-index: 19;
	top: 50%;
	right: 60px;
	transform: translate(0, -50%);
	color: white;

	font-size: 20px;
}

/*#loggedin img {
	height: 100%;
	width: 100%;
}*/

/* The message entering form*/
#message-enter {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;

	z-index: 15;

	-webkit-box-shadow: 0px 6px 44px 10px rgba(122,122,122,1);
	-moz-box-shadow: 0px 6px 44px 10px rgba(122,122,122,1);
	box-shadow: 0px 6px 44px 10px rgba(122,122,122,1);
}


#message-enter input {
	border: 0;
	padding: 10px;
	width: 90%;
	height: 100%;

}

#message-enter button {
	width: 10%;
	height: 40px;
	float: right;
	background-color: #B54444;
	border: none;
	padding: 10px;
	color: white;
	font-size: 16px;

	cursor: pointer;
}

#messages {
	width: 100%;
	top: 50px;
	position: absolute;
	overflow-y: scroll;
	list-style-type: none;
	margin: 0;
	padding: 0;

	z-index: 10;

}

.message-holder {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
	min-height: 25px;
}


.message {
	float: left;
	width: 40%;
	min-width: 100px;
	padding: 5px 10px;
	margin-left: 20px;
	margin-right: 20px;
	background: #eee;
}

.self {
	float: right;;
	padding: 5px 10px;
	margin-left: auto;
	right: 20px;
	background-color: #B54444;
	color: white;
}
